<style>

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    padding-bottom: 10%;
  }

</style>


<!-- Toolbar -->
<div class="row my-navbar">
  <nav class="navbar navbar-light row mx-0">
    <a class="navbar-brand" href="#" style="margin-left: 2px;"><img src="./../assets/navbarLogo.jpg" style="width: 50px; height: auto;"></a>
      <button class="btn" [ngClass]="selected === 'red' ? 'btn-active' : 'btn-inactive'" style="margin-right: 8px;" (click)="onRedClicked()">Red </button>
      <button class="btn" [ngClass]="selected === 'white' ? 'btn-active' : 'btn-inactive'" style="margin-right: 8px;" (click)="onWhiteClicked()">White</button>
      <button class="btn" [ngClass]="selected === 'sparkling' ? 'btn-active' : 'btn-inactive'" style="margin-right: 8px;" (click)="onSparklingClicked()">Sparkling</button>
  </nav>
</div>

<div  style="padding-right: 2%; padding-left: 2%;">
  <div class="row" style="margin-top: 1%;">
    <div class="col-10" style="float: left; margin-bottom: 0px;">
      <div class="row mx-0">
        <div class="col-2">
          <div class="row">
            <p class="mb-2">Sort Varietals By: </p>
          </div>
          <div class="row">
            <p style="margin-bottom: 0px;">Sort Wines By: </p>
          </div>
        </div>
        <div class="col-6">
          <mat-radio-group aria-label="Select an option" (change)="varietalSort($event)" >
            <div class="row">
              <div class="col-2">
                <mat-radio-button value="A-Z">A-Z</mat-radio-button>
              </div>
              <div class="col-2">
                <mat-radio-button value="Z-A">Z-A</mat-radio-button>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <mat-radio-button value="Rating Up">Rating <fa-icon class="icon" [icon]="upIcon"></fa-icon></mat-radio-button>
              </div>
              <div class="col-2">
                <mat-radio-button value="Rating Down">Rating <fa-icon class="icon" [icon]="downIcon"></fa-icon></mat-radio-button>
              </div>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button (click)="onAddClicked()" class="btn btn-inactive float-right">Add</button>
    </div>
  </div>
</div>

<div class="row">
  <app-wine-add class="col-12" [addWine]="addWine"></app-wine-add>
</div>
<app-varietal-seperator></app-varietal-seperator>
<app-wine-list
  [selected]="selected"
  [sort]="sort">
</app-wine-list>

To do:<br/>
get nav bar to only take in red/white/sparkling<br/>
get sort working<br/>
get varietal seperator working<br/>
make add varietal be a dropdown based on the radio button?<br/>
put on EC2<br/>
image upload<br/>
get add to disappear  on submit<br/>
radio button in add checked by default



<router-outlet></router-outlet>
