<div class="wineRowComponentRow">
  <div class="row wineRowComponentBox" style="border-style: solid; border-color: maroon;">
    <div class="col-2">
      <img class="wineImage" src="../../assets/images/{{wine.picName}}">
    </div>
    <div class="col-4 wineAttributesList" >
      <form >
        <p class="wineAttribute wineAttributeTop" >Wine Name: {{wine.name}}</p>
        <p class="wineAttribute">Rating: {{wine.rating}}</p>
        <p class="wineAttribute">Year: {{wine.year}}</p>
        <p class="wineAttribute">Terroir: {{wine.terroir}}</p>
        <p class="wineAttribute">Varietal: {{wine.variety}}</p>
      </form>
    </div>
    <div class="col-6" style="padding-right: 0px;">
      <div class="row notesBox">
        <p style="margin-left: 1%;">{{wine.notes}}</p>
      </div>
      <div class="row">
         <p *ngIf="wine.price" class="wineAttribute" >Price: ${{wine.price}}</p>
         <p *ngIf="!wine.price" class="wineAttribute" >Price: NA</p>
         <p *ngIf="wine.alcPercent" class="wineAttribute" style="margin-left: 30%;">Alcohol: {{wine.alcPercent}}%</p>
         <p *ngIf="!wine.alcPercent" class="wineAttribute" style=" margin-left: 30%;">Alcohol: NA</p>
      </div>
    </div>
  </div>
</div>
